<h1>Sign Up</h1>
<br>

<%= render partial: "shared/errors", locals: {object: @user} %>

<%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <br>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit "Submit" %>
<% end %>

<br>
<p>Or</p>
<br>
<%= button_to "Sign in with Google", '/auth/google_oauth2' %>