<h1>Title: <%= @hilite.title %></h1>

<h2>Author: <%= link_to @hilite.user.username, user_path(@hilite) %></h2>

<h3>Category: <%= link_to @hilite.category.name, category_hilites_path(@hilite.category) %></h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/<%="#{@hilite.content}"%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<br>

<% if @hilite.user == current_user%>
    <%= link_to "Edit HiLite", edit_hilite_path(@hilite)%> | 
    <%= link_to "Delete Hilite", hilite_path(@hilite), method: 'delete'%>
<% end %>

<br>
<br>
<%= link_to "Add New Comment", new_hilite_comment_path(@hilite) %>

      <% @hilite.comments.reverse.each do |c| %>
      <div class="ui comments">
        <h3 class="ui dividing header">Comment</h3>
        <div class="comment">
          <div class="content">
            <a class="author"> Username: <%= link_to c.user.username, user_path(c) %>  </a>
            <br>
            <div class="text">
              Comment: <%= c.content %>
            </div>

          </div>
        </div>
      <% end %>