<!DOCTYPE html>
<html>
  <head>
    <title>HiLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if signed_in? %>
        <%= link_to "Your Profile", user_path(current_user) %> |
        <%= link_to "Add Your Own HiLite", new_user_hilite_path(current_user) %> |
        <%= link_to "Latest HiLites", hilites_path %> |
        <%= link_to "Categories", categories_path %> |
        <%= link_to "Sign Out", signout_path, method: "delete" %>
      <% else %>
      <%= link_to "Sign Up", signup_path %> | 
      <%= link_to "Sign In", signin_path %> | 
      <%= link_to "Categories", categories_path %> |
      <%= link_to "Newest HiLites", hilites_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
