<!DOCTYPE html>
<html>
  <head>
    <title>HiLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if signed_in? %>
        <%= link_to "Upload New HiLite", new_hilite_path %> |
        <%= link_to "All HiLites", hilites_path %> |
        <%= link_to "Sign Out", signout_path, method: "delete" %>
      <% else %>
      | <%= link_to "Sign Up", signup_path %> | 
      <%= link_to "Sign In", signin_path %> | 
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
